services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mysql
      - redis

  client:
    build: ./client
    ports:
      - "5173:5173"
    stdin_open: true
    tty: true
    depends_on:
      - server

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: aiu_pg_progress
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:8.0-alpine
    restart: always
    ports:
      - "6379:6379"

volumes:
  mysql_data: